$colors: (
  txt: #393e46,
  accent: #00adb5,
  light: #aad8d3,
  bg: #eeeeee,
);

@function color($colorname) {
  @return map-get($colors, $colorname);
}

$rad: 10px;
.app__found {
  margin-left: 15%;
  margin-right: 15%;

  &__results {
    display: flex;
    flex-direction: column;

    &__book {
      display: flex;
      background-color: lighten(color(light), 10%);
      border-radius: $rad;
      padding: 20px;
      margin-bottom: 20px;

      &__img {
        border-radius: $rad;
        width: 300px;
      }

      &__details {
        margin-left: 40px;
        display: flex;
        flex-direction: column;

        &__item {
          color: color(txt);

          &--btn {
            margin-top: 100px;
            border-radius: $rad;
            background-color: darken(color(light), 10%);
            color: color(bg);
            width: 200px;
          }

          &--add {
            background-color: color(accent);
            width: 200px;
          }
        }
      }
    }
  }
}
